{% load static %}
<header>
    <style>
        .dropdown-menu li:hover {
            background-color: rgba(123, 0, 44, 0.37);
            border-radius: 8%;
        }
    </style>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color:black ; padding: 0 ">
        <div class="container" style="padding-left: 0">
        <a href="../" class="navbar-brand mb-0 h1" style="padding: 0 ; justify-content: left">
            <img src="{% static "OpenQuizz/img/hamster.png" %}" style="height: 60px ; width: 60px; margin-bottom: 5px " >
        </a>
        <button type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                class="navbar-toggler"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="../" class="nav-link" style="transition: all .4s;">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'accounts:login' %}" class="nav-link" style="transition: all .4s;">
                        Connexion
                    </a>
                </li>
            </ul>
        </div>
        </div>
    </nav>
</header>