{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Dashboard | OpenQuizz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'administrateur/css/dashboard.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/717f408a62.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'administrateur/img/logo.png' %}"/>

</head>
<body>


    {% include 'OpenQuizz/navbarconnected.html' %}
    {% block content %}
    {% endblock %}

    <div class="main">
    <div class="titleup">
        <h1 class="alltitre">Panneau de contrôle</h1>
    </div>
        <div class="all">
            <div class="gauche">
                <div class="creer_quizz">
                    <div class="texte1">
                    <p>Créer un nouveau quizz</p>
                    </div>
                    <div class="bouton2">
                        <div class="cercle2">
                            <a href="/creation-quizz/">
                            <div class="a">
                                <i class="fa-solid fa-plus"></i>
                            </div>
                                </a>
                        </div>
                    </div>
                </div>
                <div class="lancer_quizz">
                    <div class="texte1">
                        <p>Voir la banque de question</p>
                    </div>
                    <div class="bouton3">
                        <div class="cercle3">
                           <a href="/banque-question/">
                            <div class="a">
                                <i class="fa-solid fa-plus"></i>
                            </div>
                                </a>
                        </div>
                        </div>
                    </div>
                </div>

            <div class="droite">
                <div class="tableau">
                    <table id="table3" class="table">
                        <tr>
                            <th class="titre">Liste de vos quizzs</th>
                        </tr>
                    </table>
                       <div class="displayquestions">
                        {% for quizz in quizzs %}
                                <div class="question" id="{{quizz.numero}}quizz">
                                <div class="partiesup">
                                <div class="downarrow" id="{{quizz.numero}}" name="downarrow{quizz.numero}}">
                                    <div class="al">
                                    <i class="fa-sharp fa-solid fa-caret-down"></i>
                                    </div>
                                </div>

                                    <div class="uparrow" id="{{quizz.numero}}" name="uparrow{{quizz.numero}}">
                                        <div class="al">
                                        <i class="fa-solid fa-caret-up"></i>
                                    </div>
                                    </div>
                                    <div class="display">
                                    <div class="texteq">
                                        <p class="{{quizz.numero}}">{{quizz.name}}</p>
                                    </div>
                                    <div class="edit">
                                    <div class="modify">
                                        <a href="{% url 'administrateur:modifyquizz' id=quizz.id %}">
                                            <div class="cadremofidy" id="{{quizz.numero}}">
                                            <p>modifier</p>
                                            </div>
                                        </a>
                                    </div>
                                    </div>
                                <div class="startquizz">
                                    <a href="{% url 'quizz:interfaceProf' id=quizz.id %}">
                                    <div class="cadre">
                                        <p>start</p>
                                    </div>
                                        </a>

                                </div>
                                        </div>
                                    <div class="supp" id="{{quizz.numero}}">
                                        <div class="a" id="suppbin">
                                            <i class="fa-solid fa-trash"></i>
                                        </div>
                                    </div>
                                        </div>
                                </div>
                                <div class="partieinf">
                                     <div class="stocker">
                                            <p>Mode : {{quizz.mode}}</p>
                                    </div>
                                    <div class="afficher">
                                        <p>Afficher le classement : {{quizz.afficher}}</p>
                                    </div>
                                    <div class="timer">
                                        {% if quizz.timer != 0 %}
                                            <p>Timer : {{quizz.timer}} secondes</p>
                                        {% endif %}
                                    </div>
                                    <div class="stocker">
                                            <p>Stocker : {{quizz.stocker}}</p>
                                    </div>
                                </div>
                                </div>

                        {% endfor %}
                 </div>

                </div>
            </div>

        </div>

    </div>

    <script src="{% static 'administrateur/js/dashboard.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>