{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Création de quizz | OpenQuizz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'administrateur/css/creationQuizz.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/717f408a62.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'administrateur/img/logo.png' %}"/>

</head>
<body>
    {% include 'OpenQuizz/navbarconnected.html' %}
    {% block content %}
    {% endblock %}

    <div class="main">
    {% csrf_token %}
        <div class="texte">
            <h1>Choisissez vos options</h1>
        </div>

    <div class="nomquizz">
        <div class="textename">
            <p>Nom du quizz</p>
            <input type="text" id="namequizz" placeholder="{{quizz.name}}">
        </div>
    </div>

        <div class="options">
            <div class="mode">
                <div class="textemode">
                    <p>Chosissez votre mode :</p>
                </div>
                <div class="mode1">
                    {% if quizz.mode == 'cours' %}
                    <input type="radio" name="choix" required id="choix1" checked>
                    {% else %}
                        <input type="radio" name="choix" required id="choix1">
                    {% endif %}
                    <p>Mode cours : Ce mode permet d'afficher une réponse entre chacune des questions du quizz. Le défilement n'est pas automatique.</p>
                </div>
                <div class="mode2">
                    {% if quizz.mode == 'examen' %}
                    <input type="radio" name="choix" required id="choix2" checked>
                    {% else %}
                        <input type="radio" name="choix" required id="choix2">
                    {% endif %}
                    <p>Mode examen : Ce mode offre un défilement des questions automatique et n'affiche pas les réponses aux questions.</p>
                </div>
            </div>
        </div>
        <div class="optionsModeC">
            <div class="container1">
                <div class="compteur_container">
                    <div class="selecttime">
                        <p>Timer (en secondes)</p>
                        <input type="number" min="1" class="timer" placeholder="{{quizz.timer}}">
                    </div>
                </div>
                <div class="classement">
                    {% if quizz.afficher == True %}
                        <input type="checkbox" name="classement" id="classement" checked>
                    {% else %}
                        <input type="checkbox" name="classement" id="classement">
                    {% endif %}
                    <p>Afficher le classement après chaque questions ?</p>
                </div>
                <div class="stocker">
                    {% if quizz.stocker == True %}
                       <input type="checkbox" name="stocker" id="stocker" checked>
                    {% else %}
                        <input type="checkbox" name="stocker" id="stocker">
                    {% endif %}

                    <p>Stocker les résultats du quizz</p>
                </div>
            </div>
        </div>

        <div class="all">
            <div class="gauche">
                <div class="tableau" >
                    <table id="table3" class="table">
                        <tr>
                            <th class="titre">Questions du quizz</th>
                        </tr>

                    </table>
                    <div class="displayquestions">
                        {% for question in questions %}
                                <div class="questiong" id="{{question.numero}}question" onclick="changerGtoD()">
                                    <div class="texteq">
                                        <p class="{{question.numero}}">{{question.enonce}}</p>
                                    </div>
                                </div>

                        {% endfor %}
                 </div>
                </div>
            </div>
            <div class="droite">
                 <div class="tableau">
                    <table id="table3" class="table">
                        <tr>
                            <th class="titre">Liste de vos questions</th>
                        </tr>
                    </table>
                 <div class="displayquestions">
                        {% for question in questions %}
                                <div class="questiond" id="{{question.numero}}question" onclick="changerDtoG()">
                                    <div class="texteq">
                                        <p class="{{question.numero}}">{{question.enonce}}</p>
                                    </div>
                                </div>

                        {% endfor %}
                 </div>
                </div>
            </div>
        </div>
    <div class="submit">
        <input id="submit" type="submit" value="Envoyer" class="btn btn-secondary ml-1">
        </div>
    </div>


    <script>
        let stringquestionsid = '{{liste_id}}'
        let start1 = 0;
        let end1 = 36
        let loop1 = 0
        liste_id_questions = []
        while (true) {
            loop1++
            liste_id_questions.push(stringquestionsid.slice(start1,end1))
            start1 = loop1*36 +2*loop1
            end1= (loop1+1)*36 + 2*loop1
            if (end1>stringquestionsid.length){
                break
            }

        }

        let stringquizz = '{{quizz.questions}}';
        let start = 0;
        let end = 36
        let loop = 0
        liste_id_quizz = []
        while (true) {
            loop++
            liste_id_quizz.push(stringquizz.slice(start,end))
            start = loop*36 +2*loop
            end = (loop+1)*36 + 2*loop
            if (end>stringquizz.length){
                break
            }

        }
        for (let k = 0;k<liste_id_questions.length;k++){
            console.log(liste_id_questions[k])
            if (liste_id_quizz.includes(liste_id_questions[k])){
                console.log(liste_id_questions[k])
                document.getElementsByClassName('questiond')[k].style.display = 'none'
                document.getElementsByClassName('questiong')[k].style.display = 'flex'
            }
        }

        let enregistrer = document.querySelector("#submit")

    async function sauvegarder() {
        const formData = new FormData()
        let liste = []
        for(let i = 0;i<arrg.length; i++){
            if (arrg[i].style.display === 'flex'){
                liste.push(i)
            }
        }

        let timer = document.querySelector('.timer')
        formData.append('timer', timer.value.toString())

        let classement = document.querySelector("#classement")
        if (classement.checked){
            formData.append('classementdisplay', "true")
        }else{
            formData.append('classementdisplay', "false")
        }

        let stocker = document.querySelector("#stocker")
        if (stocker.checked){
            formData.append('stocker', "true")
        }else{
            formData.append('stocker', "false")
        }

        let choix = document.querySelector('#choix1')
        if (choix.checked){
            formData.append('mode', 'cours')
        }else {
            formData.append('mode', 'examen')
        }


        let name = document.querySelector("#namequizz").value
        formData.append('name', name)

        formData.append('liste', liste)
        console.log(formData)
        const response = await fetch("/modify/{{quizz.id}}", {
            method: 'post',
            body: formData,
            headers: {
              "X-CSRFToken": getCookie("csrftoken"),
            },
            credentials: 'same-origin',
        })
        if (response.status === 200) {
            return window.location.href = "/dashboard/"
        }
    }


    enregistrer.addEventListener('click', sauvegarder)
    </script>
    <script src="{% static 'administrateur/js/modifyquizz.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>