@font-face {
  font-family: Font;
  src: url(../font/ClimateCrisis-Regular-VariableFont_YEAR.ttf);
}
body {
    background-image: url("../img/graphy--dark--1920x1080.png");
    background-repeat: repeat;
    min-height: 100vh;
    overflow-y: hidden;
}


.main {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main form {
    position: absolute;
    top: 10%; right: 3%;
}

.podium {
    padding-top: 200px;
    display: flex;
    justify-content: center;
}

.top2, .top1, .top3{
    width: 200px;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    color : #c8e1f8;
}

#top2 {
    transform: translateY(75px);

}

#top3 {
    transform: translateY(135px);
}

.podium-top2 {
    transform: translateY(74px);
    height: 60%;
    background-color: #c8e1f8;
    bottom: 0;
    border-radius: 10px 10px 0 0;

}

.podium-top1 {
    height: 100%;
    background-color: #c8e1f8;
    border-radius: 10px 10px 0 0;

}

.podium-top3 {
    transform: translateY(134px);
    height: 40%;
    background-color: #c8e1f8;
    border-radius: 10px 10px 0 0;

}