@font-face {
  font-family: Font;
  src: url(../font/ClimateCrisis-Regular-VariableFont_YEAR.ttf);
}
body {
    background-image: url("../img/graphy--dark--1920x1080.png");
    background-repeat: repeat;
    height: 98vh;
    overflow-y: hidden;
}

.main {
    position: relative;
    display: flex; flex-direction: column;
    height: 100%;
    justify-content: center;
    align-content: space-around;
}

.main form {
    position: absolute;
    top: 10%; right: 3%;
}

.main .place {
    width: 40%;
    margin-left: 25px;
    margin-right: 25px;
}
.main.podium{
    display: center;
}
.main .places{
    display: flex;
    align-items: flex-end;
    margin-top: 50px;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;

}
.main .place-rang {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #ffffcc;
}
.main .nom {
    color: #ffffcc;
    text-align: center;
    font-size: 40px;
    padding:0 .5rem;
}
.main .score {
    color: #ffffcc;
    text-align: center;
    padding:0 .5rem;
}
.main .place .second {
    min-height: 400px;
    background: #022bc4;
    border-radius: 5px;
}
.main .place .first {
    min-height: 600px;
    background: #11cbde;
    border-radius: 5px;
}
.main .place .third {
    min-height: 200px;
    background: #530fc2;
    border-radius: 5px;
}
