@font-face {
  font-family: Font;
  src: url(../font/ClimateCrisis-Regular-VariableFont_YEAR.ttf);
}



.main {
    background-image: url("../img/graphy--dark--1920x1080.png");
    background-repeat: repeat;
    min-height: 100vh;
    overflow-y: hidden;
}

.above {
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    text-align: center;
    color: white;
    font-family: Font;
}

.above h1 {
    margin-bottom: 200px;
}

.retour {
    display: flex;
    border-radius: 30px;
    background-color: #c8e1f8;
    color: black;
    align-items: center;
    margin: 0 auto;
    width: 200px;
    height: 100px;
    font-size: 1.5rem;
}

.retour p {
    margin: 0 auto;
}




