
@font-face {
font-family: Font;
src: url(../font/ClimateCrisis-Regular-VariableFont_YEAR.ttf);
}

body {
    background-image: url("../img/graphy--dark--1920x1080.png");
    background-repeat: repeat;
    height: 100vh;

}
.main {
    height: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    font-family: Font;
    color : #c8e1f8;
    padding-top: 200px;
}


.main form {
    position: absolute; top: 0;
}

.main .results {
    height: auto;
    display: flex;
    flex-direction: column;
    -webkit-backdrop-filter: blur(2px); /* assure la compatibilité avec safari */
    backdrop-filter: blur(2px);
}
.nombre0 {
}
.main .results>div {
    width: 21%;
}

.main .results .reponse0 {
    background: #3e8686;
}
.main .results .reponse1 {
    background: #563e86;
}
.main .results .reponse2 {
    background: #a87a3d;
}
.main .results .reponse3 {
    background: #9f4040;
}
.main .results .text0 {
    width: 21%; height: 10%;
}

.main .results .text1 {
    width: 21%; height: 10%;
}
.main .results .text2 {
    width: 21%; height: 10%;
}
.main .results .text3 {
    width: 21%; height: 10%;
}
