* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  border-spacing: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Font;
  src: url(../fonts/ClimateCrisis-Regular-VariableFont_YEAR.ttf);
}

@font-face {
  font-family: Font_Armand;
  src: url(../fonts/Inter-VariableFont_slnt,wght.ttf);
}

body {
  background-image: url("../img/graphy--dark--1920x1080banque.png");
}


.main {
  height: 100%;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
}

.texte {
    text-align: center;
    font-size: 2rem;
    color: #c8e1f8;
    font-family: Font;
}

.all {
    position: absolute;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      z-index: -100;
    width: 100%;
    padding: 100px;
}

.gauche {
  min-width: 300px;
  transform: translateY(10px);
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  margin-right: 1%;

}

.droite {
        width: 70%;
        height: 600px;
        overflow: auto;
      margin: 0 auto;
        margin-right: 1%;
      display: flex;
      flex-direction: column;
      -webkit-backdrop-filter: blur(15px); /* assure la compatibilité avec safari */
      backdrop-filter: blur(4px);
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      box-shadow: 5px 5px 30px rgba(240, 255, 251, 0.45);
}

.droite .texte {
  font-size: 2rem;
  color: #c8e1f8;
  text-align: center;
}

.tableau {
  padding: 20px;
}

table {
  color: #c8e1f8;
}

th  {
  color: #c8e1f8;
  border: 2px solid #c8e1f8;
}

.tableau {
  padding: 20px;
}

table {
  color: #c8e1f8;
}

th  {
  color: #c8e1f8;
  border: 2px solid #c8e1f8;
}

.displayquestion {
  display: flex;
  flex-direction: column;
}

.partiesup {
  display: flex;
  flex-direction: row;
}

.question {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  margin-bottom: 8px;
  border-radius: 10px;
  height: 70px;
  padding: 10px;
  width: 100%;
}

.question .downarrow {
  display: flex;
  flex-direction: column;
  width: 50px;
  color: #c8e1f8;
}
.question .downarrow i {
  width: 50px;
  height: 50px;
}

.question .uparrow {
  display: none;
  flex-direction: column;
  width: 50px;
  color: #c8e1f8;
}
.question .uparrow i {
  width: 50px;
  height: 50px;
}


.al i {
  height: 100%;
  width: 100%;
  transform: translate(0,8px);
  color: #c8e1f8;
  font-size: 2rem;
}

.question .texteq {
  text-align: left;
  width: 90%;
}

.question .modify {
  width: 100px;
  cursor: pointer;
}

.question .modify .cadremofidy {
  transform: translateY(8px);
  background-color: #c8e1f8;
  border-radius: 10px;
  color: black;
}


.question .modify .cadremofidy {
  margin-right: 5px;
  width: 100px;
  height: 30px;
}

.question .modify .cadremofidy p{
  transform: translateY(0);
  text-align: center;
  color: black;
  font-size: 1.2rem;
  font-family: Font_Armand;
}

.titre {
  font-size: 2rem;
  color: #c8e1f8;
  text-align: center;
}

.supp {
  width: 5%;
  margin-left:  auto;
}

.supp .a:hover {
  transform: translateY(-5px);
}

#suppbin i:hover {
  color: #dc1b1b;
}


.partieinf {
  display: none;
  flex-direction: column;
}

.partieinf p {
  font-size: 1rem;
}

.edit {
  display: flex;
  flex-direction: row;
}

.display {
  display: flex;
  flex-direction: row;
  width: 90%;
}

a {
  text-decoration: none !important;
}

.ajouter_question {
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin-bottom: 70px;
  -webkit-backdrop-filter: blur(15px); /* assure la compatibilité avec safari */
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4%;
  box-shadow: 5px 5px 30px rgba(240, 255, 251, 0.45);
}

.texte1 {
  width: 75%;
    color: #c8e1f8;
    font-size: 1.5rem;
}

.bouton1 {
  width: 25%;
  padding: 10px;
}

.cercle1 {
  width: 50px;
  height: 50px;
  background-color: #3e8686;
  border-radius: 50%;
  text-align: center;
}

.cercle1:hover {
  transform: translateY(-3px);
}

.a i {
  height: 100%;
  width: 100%;
  transform: translate(0,8px);
  color: #c8e1f8;
  font-size: 2rem;
}

.popup_question {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 50;
}

.contact_div {
  position: relative;
  display: none;
  flex-direction: column;
  width: 800px;
  height: 800px;
  -webkit-backdrop-filter: blur(15px); /* assure la compatibilité avec safari */
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4%;
  box-shadow: 5px 5px 30px rgba(240, 255, 251, 0.45);
  margin: 0 auto;
  z-index: 100;
}

.contact_div .firstline {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.contact_div .firstline .texte {
  width: 100%;
  z-index: 10;
}



#close {
  color: red;
}

.contact_div .firstline .boutoncroix {
  z-index: 15;
  width: 20px;
  transform: translateX(-20px);
}

.contact_div .texte h1 {
  text-align: center;
  color: #c8e1f8;
  font-family: Font;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form textarea {
  border-radius: 10px;
  width: 80%;
  height: 200px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 5px 5px 30px #c8e1f8;

}

.choice {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.choice input {
  width: 20px;
  margin: 0 10px;

}

.qcm {
  width: 100%;
  display: none;
  flex-direction: column;
}


form input {
    border-radius: 10px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10px;
}

form .qcm input {
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10px;
  box-shadow: 5px 5px 30px #c8e1f8;

}

#reponselongue {
  margin-bottom: 30px;
}

.reponseqcm {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-bottom: 30px;
}

.reponseqcm p {
  text-align: center;
  margin-right: 10px;
}

select {
  margin-left: 2%;
}

.file {
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
}

.file p {
  margin-top: -10px;
  margin-right: 10px;
  width: 45%;
}



#image {
  color: #c8e1f8;
  font-size:1rem;
}

form #submit {
  width: 100px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #c8e1f8 ;
}

select {
  margin-left: 2%;
}

.file {
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
}

.file p {
  transform: translateY(8px);
  margin-top: -10px;
  margin-right: 10px;
  width: 45%;
  color: #c8e1f8;
}

p {
  color: #c8e1f8;
  transform: translateY(8px);
}


.theme{
  display: flex;
  flex-direction: row;
  -webkit-backdrop-filter: blur(15px); /* assure la compatibilité avec safari */
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4%;
  box-shadow: 5px 5px 30px rgba(240, 255, 251, 0.45);
  padding: 20px;
  margin-bottom: 70px;
  height: 600px;
  overflow: auto;
}

.displaytheme {
  display: flex;
  flex-direction: column;
}

.themein {
  display: flex;
  flex-direction: row;
}

.themein p {
  margin-left: 20px;
}

.reponseQCM {
  display: flex;
  flex-direction: column;

}

.AB {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.CD {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.A {
  margin-right: 20px;
}
.C {
  margin-right: 20px;
}

#intitule {
  height: 50px;
}

#theme {
  height: 50px;
  width: 200px;
  margin: 0 auto;
}

.displaysup{
  width: 70%;
}

.displayinf {
  width: 20%;
  display: flex;
  flex-direction: row;
}




@media screen and (max-width:700px){

  .main {
    overflow: hidden;
  }

  .ajouter_question {
    margin-top: 30px;
  }
  
  .texte {
    width: 100%;
  }

  .texte h1 {
    font-size: 1.5rem;

  }
  p {
    font-size: 0.8rem;
  }

  .all {
    width: 100%;
    padding: 10px;
    flex-direction: column;
  }

  .gauche {
    margin: 0 auto;
    width: 300px;
  }

  .droite {
    margin: 0 auto;
    width: 300px;
    margin-bottom: 50px;
  }

  .question {
    width: auto;
    height: auto;
  }

  .question .modify .cadremofidy {
    height: 20px;
    width: 50px;
  }

  .question .modify .cadremofidy p {
    font-size: 0.8rem;
  }

  .a i {
    font-size: 1rem;
  }

  .display {
    flex-direction: column;
  }



  .popup_question {
    width: 100%;
  }
  .popup_question h1{
    font-size: 1rem;
  }


  .contact_div {
    width: 300px;
    margin: 0 auto;
    border-radius: 30px;
  }

  .file p {
    margin-right: -2px;
  }
}