* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  border-spacing: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Font;
  src: url(../fonts/ClimateCrisis-Regular-VariableFont_YEAR.ttf);
}

@font-face {
  font-family: Font_Armand;
  src: url(../fonts/Inter-VariableFont_slnt,wght.ttf);
}

body {
  background-image: url("../img/graphy--light--1920x1080.png");
}

.main {
    height: 100%;
    padding-top: 30px;
    overflow: hidden;
}

.main .alltitre {
  margin: 100px 0px;
  text-align: center;
  font-family: Font;
  color: #c8e1f8;
}

p {
  transform: translateY(7px);
  font-size: 1.5rem;
  color: #c8e1f8;
  align-content: center;
}

.all {
  position: absolute;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: -100;
}

.gauche {
  min-width: 300px;
  transform: translateY(10px);
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  margin-left:5% ;
  margin-right: 1%;
}

.droite {
  min-width: 300px;
  overflow: auto;
  margin: 0 auto;
  margin-right: 5%;
  margin-left: 1%;
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: 500px;
  -webkit-backdrop-filter: blur(15px); /* assure la compatibilité avec safari */
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4%;
  box-shadow: 5px 5px 30px rgba(240, 255, 251, 0.45);
}

.ajouter_question {
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin-bottom: 70px;
  -webkit-backdrop-filter: blur(15px); /* assure la compatibilité avec safari */
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4%;
  box-shadow: 5px 5px 30px rgba(240, 255, 251, 0.45);
}

.texte1 {
  width: 75%;
}

.bouton1, .bouton2, .bouton3 {
  width: 25%;
  padding: 10px;
}

.cercle1, .cercle2, .cercle3 {
  width: 50px;
  height: 50px;
  background-color: #3e8686;
  border-radius: 50%;
  text-align: center;
}

.cercle1:hover, .cercle2:hover, .cercle3:hover  {
  transform: translateY(-3px);
}

.a i {
  height: 100%;
  width: 100%;
  transform: translate(0,8px);
  color: #c8e1f8;
  font-size: 2rem;
}

a {
  text-decoration: none !important;
}

.creer_quizz {
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin-bottom: 70px;
  -webkit-backdrop-filter: blur(15px); /* assure la compatibilité avec safari */
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4%;
  box-shadow: 5px 5px 30px rgba(240, 255, 251, 0.45);
}

.lancer_quizz{
  display: flex;
  flex-direction: row;
  -webkit-backdrop-filter: blur(15px); /* assure la compatibilité avec safari */
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4%;
  box-shadow: 5px 5px 30px rgba(240, 255, 251, 0.45);
  padding: 20px;
  margin-bottom: 70px;
}


.droite .texte {
  font-size: 2rem;
  color: #c8e1f8;
  text-align: center;
}

.tableau {
  padding: 20px;
}

table {
  color: #c8e1f8;
}

th  {
  color: #c8e1f8;
  border: 2px solid #c8e1f8;
}

.displayquestion {
  display: flex;
  flex-direction: column;
}

.partiesup {
  display: flex;
  flex-direction: row;
}

.question {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  margin-bottom: 8px;
  border-radius: 10px;
  height: 70px;
  padding: 10px;
  width: 100%;
}

.question .downarrow {
  display: flex;
  flex-direction: column;
  width: 50px;
  color: #c8e1f8;
}
.question .downarrow i {
  width: 50px;
  height: 50px;
}

.question .uparrow {
  display: none;
  flex-direction: column;
  width: 50px;
  color: #c8e1f8;
}
.question .uparrow i {
  width: 50px;
  height: 50px;
}


.al i {
  height: 100%;
  width: 100%;
  transform: translate(0,8px);
  color: #c8e1f8;
  font-size: 2rem;
}

.question .texteq {
  text-align: left;
  width: 70%;
}

.question .startquizz, .question .modify {
  width: 100px;
  cursor: pointer;
}

.question .startquizz .cadre, .question .modify .cadremofidy {
  transform: translateY(8px);
  background-color: #c8e1f8;
  border-radius: 10px;
  color: black;
}

.question .startquizz .cadre {
  margin-left: 5px;
  width: 100px;
  height: 30px;
}

.question .modify .cadremofidy {
  margin-right: 5px;
  width: 100px;
  height: 30px;
}

.question .startquizz .cadre p, .question .modify .cadremofidy p{
  transform: translateY(0);
  text-align: center;
  color: black;
  font-size: 1.2rem;
  font-family: Font_Armand;
}

.titre {
  font-size: 2rem;
  color: #c8e1f8;
  text-align: center;
}

.supp {
  width: 5%;
  margin-left: 100px;
}

.supp .a:hover {
  transform: translateY(-5px);
}

#suppbin i:hover {
  color: #dc1b1b;
}


.partieinf {
  display: none;
  flex-direction: column;
}

.partieinf p {
  font-size: 1rem;
}

.edit {
  display: flex;
  flex-direction: row;
}

.display {
  display: flex;
  flex-direction: row;
  width: 75%;
}


@media screen and (max-width:700px) {

  .main .alltitre {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  p {
    font-size: 0.8rem;
  }

  .creer_quizz {
    margin-bottom: 20px;
  }
  .lancer_quizz {
    margin-bottom: 20px;
  }

  .cercle2, .cercle3 {
    width: 30px;
    height: 30px;
  }

  .a i {
    width: 15px;
    height: 15px;
    transform: translate(-6px,-1px);
  }

  .all {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .droite {
    width: 300px;
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 50px;

  }

  .gauche {
    width: 300px;
    margin: 0 auto;
    height: 300px;
  }

  .partiesup {
  }

  .partiesup p {
    font-size: 1rem;
  }
  .display {
    flex-direction: column;
  }
}