{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>OpenQuizz - UserHome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'quizz/css/interfaceUser.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/717f408a62.js" crossorigin="anonymous"></script>
</head>
<body>
    {% include 'OpenQuizz/navbar.html' %}
    {% block content %}
    {% endblock %}

    <h1>-Question-</h1>

    <div class="main">

        <img src="{% static "quizz/img/adrien.jpg" %}" alt="image_quizz">
        <div class="timer"><h2>100</h2></div>
        <div class="questions">
            <div class="bloc">
                <button type="submit"><h2>Réponse A</h2></button>
                <button type="submit"><h2>Réponse B</h2></button>
            </div>
            <div class="bloc">
                <button class="question_bas" type="submit"><h2>Réponse C</h2></button>
                <button class="question_bas" type="submit"><h2>Réponse D</h2></button>
            </div>
        </div>


        <script>

            const timerElement = document.querySelector(".timer h2")
            let time = timerElement.innerText
            function diminuerTemps() {
                time--
                if (time<0){
                    time=0
                }
                timerElement.innerText = time

            }

            setInterval(diminuerTemps, 1000)

        </script>



    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>