{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>User - Response registered</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'quizz/css/userAnswered_resultat.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/717f408a62.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="main">

        <form action="" method="post">
            {% csrf_token %}
            <button type="submit">Valider</button>
        </form>

        <div class="correct"><h2>Bonne réponse !</h2></div>
        <div class="faux"><h2>Dommage c'était la mauvaise réponse ...</h2></div>
        <div class="podium"><h2>Bravo tu es sur le podium !</h2></div>

    </div>
    <div class="info">
        <div class="bonne_reponse">{{ correct }}</div>
        <div class="podium">{{ podium }}</div>
    </div>
    <script>

        const bonne_reponse = document.querySelector(".info .bonne_reponse").innerText
        const podium = document.querySelector(".info .podium").innerText
        const faux = document.querySelector(".main .faux")
        const correct = document.querySelector(".main .correct")
        const div_podium = document.querySelector(".main .podium")
        if (bonne_reponse=='True') {
            faux.style.opacity='0'
            coorect.style.opacity='1'
        }
        if (bonne_reponse=='False') {
            correct.style.opacity='0'
            faux.style.opacity='1'
        }
        if (podium=='False') {
            div_podium.style.opacity='0'
        }


    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>