{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>User - Response registered</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'quizz/css/userAnswered_resultat.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/717f408a62.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="main">
            <div class="correct"><h2>Bonne réponse !</h2></div>
            <div class="faux"><h2>Dommage c'était la mauvaise réponse ...</h2></div>
            <div class="rapide"><h2>Essaye d'être plus rapide !</h2></div>
            <div class="podium"><h2>Bravo tu es sur le podium !</h2></div>
        </div>

        <div class="info">
            <div class="reponse">{{ correct }}</div>
            <div class="id">{{ id }}</div>
            <div class="podium">{{ podium }}</div>
            <div class="num_question">{{ num_question }}</div>
            <div class="pseudo">{{ pseudo }}</div>
            <div class="onGame">{{ onGame }}</div>
        </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>

        const reponse = document.querySelector(".info .reponse").innerText
        const podium = document.querySelector(".info .podium").innerText
        const id = document.querySelector(".info .id").innerText
        const pseudo = document.querySelector(".info .pseudo").innerText
        const onGame = parseInt(document.querySelector(".info .onGame").innerText)
        const num_question = parseInt(document.querySelector(".info .num_question").innerText)
        const faux = document.querySelector(".main .faux")
        const rapide = document.querySelector(".main .rapide")
        const correct = document.querySelector(".main .correct")
        const div_podium = document.querySelector(".main .podium")

        console.log(onGame)

        if (reponse=='True') {
            faux.style.opacity='0'
            rapide.style.opacity='0'
            correct.style.opacity='1'
        }
        if (reponse=='blank') {
            faux.style.opacity='0'
            correct.style.opacity='0'
            rapide.style.opacity='1'
        }
        if (reponse=='False') {
            correct.style.opacity='0'
            rapide.style.opacity='0'
            faux.style.opacity='1'
        }
        if (podium=='False') {
            div_podium.style.opacity='0'
        }

        $(document).ready(function(){
            setInterval(function(){
                $.ajax({
                    type:'GET',
                    url: '',
                    success: function(response){
                        if (response.onGame==onGame+1) {
                            const str = "https://openquizz.h.minet.net/interfaceUser/"+pseudo+"/id="+id+"/num_question="+(num_question+1).toString()
                            //const str = "http://127.0.0.1:8000/interfaceUser/"+pseudo+"/id="+id+"/num_question="+(num_question+1).toString()
                            window.document.location.href = str;
                        }

                    },
                    error: function(response){
                        console.log("error")
                    }
                    })
            },100)
        })


    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>